<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr-scanner" href="/tabs/qr-scanner">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>qr-scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>history</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
