<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EcoScan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">
  <div class="dashboard">
    <ion-button class="menu-card" routerLink="/C:\Users\chini\OneDrive\Escritorio\EcoScan\EcoScan\src\app\qr-scanner">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      Escanear QR
    </ion-button>
    <ion-button class="menu-card" routerLink="/camera">
      Tomar Fotografía
    </ion-button>
    <ion-button class="menu-card" routerLink="/location">
      Registrar Ubicación
    </ion-button>
    <ion-button class="menu-card" routerLink="/history">
      Historial
    </ion-button>
  </div>
</ion-content>